// TODO: create react icons
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import '../../styles/mixins';
@import '../../styles/variables';

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);

    .form {
        width: 280px;
        text-align: left;
    }
}

.form-group {
  margin-top: 30px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: 100%;
    }
}

.login-container {
    display: flex;
    height: 100vh;

    &__left {
        background-color: var(--color-primary);
        width: 50%;

        .logo-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 100%;

            .logo-label {
                font: normal normal 800 30px/12px Gilroy;
                letter-spacing: 0;
                color: #fff;
                text-align: center;
                padding-bottom: 0px;
            }
        }

        @include breakpoint-md {
            display: none;
        }
    }

    &__right {
        width: 50%;
        background-color: var(--color-secondary);
        align-items: center;
        justify-content: center;
        height: 100%;

        @include breakpoint-md {
            width: 100%;
        }
    }
}

.invalid-feedback,
.alert-danger {
    font-size: 13px;
    padding-top: 12px;
    color: #ff716e;
}