.button {
    font-weight: 700;
    border: 0;
    border-radius: 9px;
    display: inline-block;
    line-height: 1;
    transition: all 0.5s;
    cursor: pointer;

    &--primary {
        color: white;
        background-color: #020418;
    }

    &--secondary {
        color: #333;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    }

    &--small {
        font-size: 12px;
        padding: 10px 16px;
    }

    &--medium {
        font-size: 14px;
        padding: 11px 20px;
    }

    &--large {
        font-size: 16px;
        padding: 15px 24px;
    }

    &:hover {
        opacity: 0.8;
    }
}