@tailwind base;
@tailwind components;
@tailwind utilities;
// TODO: convert to tailwind css (this is the initial approach)
@import './components/atoms/Button/button';
@import './components/atoms/Input/input';
@import './components/atoms/Modal/modal';
@import './pages/Login/login';

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-extrabold;
  }
  
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fixed.side{
  top: 4rem;
  left: 5.5rem;
  height: .5rem;
  transition: all .5s;

  button {
    height: 0;
    overflow: hidden;
    transition: height .5s;
  }

  &:hover{
    button{
      height: 2rem;
    }
  }
}

.sidebar-collapse {
  left: -85px;
  width: 0;
  transition: all .5s ease;

  .fixed.side{
    top: 4rem;
    left: .5rem;
    height: .5rem;
    width: 2rem;
    transition: all .5s;

    button {
      height: 0;
      overflow: hidden;
      transition: height .5s;
    }

    &:hover{
      background: transparent !important;
      button{
        height: 2rem;
      }
    }
  }
}

.handCursor {
  cursor: pointer;
}

.filter {
  margin-left: 40%;
}

.selected {
  font-weight: bold;
}

.selected::after {
  content: "\2713"; /* Check mark Unicode character */
  margin-left: 5px;
}

.sortIcon {
  padding-right: 5px;
}