@tailwind base;
@tailwind components;
@tailwind utilities;
// TODO: convert to tailwind css (this is the initial approach)
@import './components/atoms/Dropdown/dropdown';
@import './components/atoms/Flag/Flag';
@import './components/atoms/Button/button';
@import './components/atoms/Input/input';
@import './components/atoms/Loader/loader';
@import './components/atoms/Modal/modal';
@import './components/molecules/UserInfoCard/UserInfoCard';
@import './pages/Login/login';
@import './pages/Users/UserManagement/UserManagement';
@import 'react-big-calendar/lib/sass/styles';

@layer base {
  h1 {
    @apply text-2xl;
    @apply font-extrabold;
  }
  
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  
  h4 {
    @apply text-base;
    @apply font-bold;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fixed.side{
  top: 4rem;
  left: 5.5rem;
  height: .5rem;
  transition: all .5s;

  button {
    height: 0;
    overflow: hidden;
    transition: height .5s;
  }

  &:hover{
    button{
      height: 2rem;
    }
  }
}

.sidebar-collapse {
  left: -85px;
  width: 0;
  transition: all .5s ease;

  .fixed.side{
    top: 4rem;
    left: .5rem;
    height: .5rem;
    width: 2rem;
    transition: all .5s;

    button {
      height: 0;
      overflow: hidden;
      transition: height .5s;
    }

    &:hover{
      background: transparent !important;
      button{
        height: 2rem;
      }
    }
  }
}

.handCursor {
  cursor: pointer;
}

.filter {
  margin-left: 40%;
}

.selected {
  font-weight: bold;
}

.selected::after {
  content: "\2713"; /* Check mark Unicode character */
  margin-left: 5px;
}

.sortIcon {
  padding-right: 5px;
}

.fc, .fc-theme-standard {
  background: #f7f9fb;
  border: 1px solid #e0e2e4;
  color: #54585d;

  .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
    padding: 10px;
  }

  td {
    border-color: #e0e2e4;
  }

  .fc-button, .fc-button-primary:disabled {
    background: transparent;
    border: 0;
    color: #54585d;
    text-transform: capitalize;
  }

  .fc-button-primary:not(:disabled).fc-button-active {
    background: transparent;
    color: #3688d9;
  }

  .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none;
  }

  .fc-daygrid-day.fc-day-today, .fc-timegrid-col.fc-day-today {
    background: transparent;
  }

  th {
    background: #ffffff;
  }
  
  th.fc-day {
    background: #ffffff;
    padding: 20px 0;
  }

  th.fc-day-today {
    color: #3688d9;
  }
  
  .fc-timegrid-slot-label {
    background: #e0e2e4;
    padding: 10px;
    width: 100px;
  }
  
  .fc-event-main {
    padding: 10px;
  }

  .fc-event-main-frame {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .fc-event-title-container {
    font-weight: bold;
    flex-grow: 0;
  }
}