.modal-background {
    opacity: 0.8;
    position: fixed;
    background-color: #40433f;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 199;
    left: 0;
    right: 0;
    bottom: 0;
    flex: 1 1;
}

.modal-main-container {
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
}

.modal-container {
    flex-direction: column;
    border-radius: 15px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 20px 50px;
    width: 509px;
    z-index: 999999;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    padding: 20px 0;
}

.modal-buttons {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    width: 100%;
    position: relative;
    bottom: 10px;

    .modal-button {
        width: 49%;
        display: flex;
    }
}

.modal-content {
    height: 70%;

    .content-text {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
    }

    textarea {
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 10px;
        background-color: #F7F8FAFF;
        resize: none;
    }

    .switcher {
        display: flex;
        flex-direction: row;

        p {
            margin-right: 10px;
        }

        input:focus {
            outline: none;
        }

    }
}

.switcher-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
